body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border: 1px solid red; */
}

.container {
  width: 50%;
  /* Adjust as needed */
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 20px 20px 20px rgba(129, 129, 129, 0.728);
  padding: 20px 30px;
}

h2 {
  text-align: center;
  color: #e74c3c;
  font-size: 40px;
  margin-bottom: 20px;
}

span {
  color: #4a1616;
}

label {
  display: block;
  /* width: 100px; */
  margin-bottom: 10px;
  font-weight: bold;
}

input[type="password"] {
  width: 100%;
  /* Adjust as needed */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  font-size: 16px;
}


input[type="submit"] {
  background-color: #e74c3c;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  width: 150px;
  /* Adjust as needed */
}

input[type="submit"]:hover {
  background-color: #c0392b;
}

.changepass,
.newpass,
.confnewpass {
  width: 50%;
}