@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap');

body {
    background-image: linear-gradient(to right, #0F4C81, #416d91);
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    color: white;
    /* Set the font color to white */
}

section {
    margin: auto;
    width: 90%;
    /* background-color: rgba(0, 0, 0, 0.7); */
    /* Semi-transparent black background */
    padding: 20px;
    border-radius: 10px;
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); */
}

span {
    color: coral;
}

h1 {
    font-size: 60px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
    margin-bottom: 15px;
    transition: .6s;
}

h1:hover {
    text-shadow: 10px 10px 40px #ad9068;
    letter-spacing: 20px;
    transition: .6s;
}

h4 {
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
    margin-bottom: 15px;
}

table {
    width: 100%;
    table-layout: fixed;
}

.tbl-header {
    background-color: rgba(255, 255, 255, 0.3);
    text-align: center;
    /* Align table header text to center */
}

.tbl-content {
    height: 500px;
    overflow-y: scroll;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

th {
    padding: 15px;
    text-align: left;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
}

td {
    padding: 15px;
    text-align: left;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    border: 2px solid rgba(255, 255, 255, 0.1);
}

.tbl-content a {
    color: #05ffc9;
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1px rgb(0, 0, 0);
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb:hover {
    -webkit-box-shadow: inset 0 0 6px rgba(213, 39, 0, 0.3);
}